h1,
*.h1
  display: block
  @include font-params(5.2rem, 1.2, 500)
  text-align: center

  @include tablet
    font-size: 4rem
  @include mobile
    font-size: 3.3rem

h2
  display: block
  @include font-params(4rem, 1.5, 500)
  text-align: center
  text-transform: uppercase
  margin-bottom: 5.5rem

  @include tablet
    font-size: 3.2rem
    margin-bottom: 3rem
  @include mobile
    font-size: 2.3rem

h3,
*.h3
  display: block
  @include font-params(2rem, 1.1, 600)
  text-align: center

  @include tablet
    font-size: 2rem
  @include mobile
    font-size: 1.6rem

h4,
*.h4
  display: block
  @include font-params(2.4rem, 1.2, 600)
  text-transform: uppercase

  @include tablet
    font-size: 2rem
  @include mobile
    font-size: 1.6rem

ul
  list-style: disc
  list-style-position: inside

ol
  list-style: decimal
  list-style-position: inside

a
  text-decoration: underline

.breadcrumbs
  @include flex-center-vert
  flex-wrap: wrap
  gap: 2rem

  @include mobile
    row-gap: 1rem

  li
    @include flex-center-vert
    gap: 2rem

    &:not(:last-child)
      &:after
        position: absolute
        content: "/"
        top: 50%
        transform: translate(-50%, -50%)
        right: -1.3rem

    span
      font-size: 1.4rem

    a
      text-decoration: none
      font-size: 1.4rem

      &:hover
        text-decoration: underline