include ../views/layouts/layout_bootstrap.pug

block content
    .container
        .page-header
            h1 Верстка по макета

        .list-group
            .list-group-item.active Pages

            a.list-group-item(href="pageUi.html")
                h4 UI Kit

            a.list-group-item(href="pageIndex.html")
                h4 Главная

            a.list-group-item(href="pageModels.html")
                h4 Модельный ряд

            a.list-group-item(href="pageCatalog.html")
                h4 Каталог

            a.list-group-item(href="pageAutocredit.html")
                h4 Автокредит

            a.list-group-item(href="pageModel.html")
                h4 Модель

            a.list-group-item(href="pageTradein.html")
                h4 Trade-In

            a.list-group-item(href="pageBuyout.html")
                h4 Выкуп

            a.list-group-item(href="pagePublicity.html")
                h4 Наши акции

            a.list-group-item(href="pageContacts.html")
                h4 Контакты