extends ../views/layouts/layout

block vars
    - var pageClass = 'page-index'
    - var header = 'light'

block content
    .slider.main-slider
        .swiper
            .swiper-wrapper
                .swiper-slide
                    .slider__image
                        picture
                            source(type='img/webp' srcset='/src/assets/images/img--slider-1.webp 1x, /src/assets/images/img--slider-1@2x.webp 2x')
                            source(type='img/jpg' srcset='/src/assets/images/img--slider-1.jpg 1x, /src/assets/images/img--slider-1@2x.jpg 2x')
                            img(srcset='/src/assets/images/img--slider-1.jpg 1x, /src/assets/images/img--slider-1@2x.jpg 2x' alt='')

                    .slider__content
                        .slider__text
                            span.h3 Новый
                            span.h1 Changan UNI-K

                        a(href='').button.button-white Перейти в&nbsp;каталог

                .swiper-slide
                    .slider__image
                        picture
                            source(type='img/webp' srcset='/src/assets/images/img--slider-2.webp 1x, /src/assets/images/img--slider-2@2x.webp 2x')
                            source(type='img/jpg' srcset='/src/assets/images/img--slider-2.jpg 1x, /src/assets/images/img--slider-2@2x.jpg 2x')
                            img(srcset='/src/assets/images/img--slider-2.jpg 1x, /src/assets/images/img--slider-2@2x.jpg 2x' alt='')

                    .slider__content
                        .slider__text
                            span.h3 Подарок
                            span.h1 Зимние шины

                        a(href='').button.button-white Получить предложение

                .swiper-slide
                    .slider__image
                        picture
                            source(type='img/webp' srcset='/src/assets/images/img--slider-3.webp 1x, /src/assets/images/img--slider-3@2x.webp 2x')
                            source(type='img/jpg' srcset='/src/assets/images/img--slider-3.jpg 1x, /src/assets/images/img--slider-3@2x.jpg 2x')
                            img(srcset='/src/assets/images/img--slider-3.jpg 1x, /src/assets/images/img--slider-3@2x.jpg 2x' alt='')

                    .slider__content
                        .slider__text
                            span.h3 Подарок
                            span.h1 Каско и&nbsp;осаго

                        a(href='').button.button-white Получить предложение

                .swiper-slide
                    .slider__image
                        picture
                            source(type='img/webp' srcset='/src/assets/images/img--slider-4.webp 1x, /src/assets/images/img--slider-4@2x.webp 2x')
                            source(type='img/jpg' srcset='/src/assets/images/img--slider-4.jpg 1x, /src/assets/images/img--slider-4@2x.jpg 2x')
                            img(srcset='/src/assets/images/img--slider-4.jpg 1x, /src/assets/images/img--slider-4@2x.jpg 2x' alt='')

                    .slider__content
                        .slider__text
                            span.h3 Скидка по&nbsp;Trade-In
                            span.h1 до&nbsp;300&nbsp;000&nbsp;₽

                        a(href='').button.button-white Получить предложение

                .swiper-slide
                    .slider__image
                        picture
                            source(type='img/webp' srcset='/src/assets/images/img--slider-5.webp 1x, /src/assets/images/img--slider-5@2x.webp 2x')
                            source(type='img/jpg' srcset='/src/assets/images/img--slider-5.jpg 1x, /src/assets/images/img--slider-5@2x.jpg 2x')
                            img(srcset='/src/assets/images/img--slider-5.jpg 1x, /src/assets/images/img--slider-5@2x.jpg 2x' alt='')

                    .slider__content
                        .slider__text
                            span.h3 Подарок
                            span.h1 Автосигнализация

                        a(href='').button.button-white Получить предложение

            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next

        div(data-url="http://bevolgayan.temp.swtest.ru/promo/auto_2/assets/responseExamples/indexFilterResponse.json").filter
            .grid-5
                select(id='brand').js--select-style.js--brand.js--get-variants
                    option(selected disabled) Выберите марку

                select(disabled id='model').js--select-style.js--model.js--get-variants
                    option(selected disabled) Выберите модель

                input(placeholder='Цена от' name='' id='priceMin' data-lastVal='0').input.js--input-number.js--get-variants
                input(placeholder='Цена до' name='' id='priceMax' data-lastVal='0').input.js--input-number.js--get-variants

                a(href='/catalog').button.button-blue Показать 276 авто

    include ../views/components/searchBrand

    section.new.bg-blue
        .container
            h2 Новые поступления

            include ../views/components/items

    include ../views/components/proposal3

    section.new.bg-blue
        .container
            h2 Спецпедложения

            include ../views/components/items

    section.promo
        .container
            h2 Акции

            ul.promo__list
                li.promo__el
                    a(href='').promo__link
                        .promo__img
                            picture
                                source(type='img/webp' srcset='/src/assets/images/img--promo-1.webp 1x, /src/assets/images/img--promo-1@2x.webp 2x')
                                source(type='img/jpg' srcset='/src/assets/images/img--promo-1.jpg 1x, /src/assets/images/img--promo-1@2x.jpg 2x')
                                img(srcset='/src/assets/images/img--promo-1.jpg 1x, /src/assets/images/img--promo-1@2x.jpg 2x' alt='')

                        .promo__content
                            h3 Низкий процент по&nbsp;кредиту с&nbsp;банками партнёрами
                            .promo__get Получить предложение

                li.promo__el
                    a(href='').promo__link
                        .promo__img
                            picture
                                source(type='img/webp' srcset='/src/assets/images/img--promo-2.webp 1x, /src/assets/images/img--promo-2@2x.webp 2x')
                                source(type='img/jpg' srcset='/src/assets/images/img--promo-2.jpg 1x, /src/assets/images/img--promo-2@2x.jpg 2x')
                                img(srcset='/src/assets/images/img--promo-2.jpg 1x, /src/assets/images/img--promo-2@2x.jpg 2x' alt='')

                        .promo__content
                            h3 КАСКО и&nbsp;ОСАГО в&nbsp;подарок при покупке авто в&nbsp;кредит
                            .promo__get Получить предложение

                li.promo__el
                    a(href='').promo__link
                        .promo__img
                            picture
                                source(type='img/webp' srcset='/src/assets/images/img--promo-3.webp 1x, /src/assets/images/img--promo-3@2x.webp 2x')
                                source(type='img/jpg' srcset='/src/assets/images/img--promo-3.jpg 1x, /src/assets/images/img--promo-3@2x.jpg 2x')
                                img(srcset='/src/assets/images/img--promo-3.jpg 1x, /src/assets/images/img--promo-3@2x.jpg 2x' alt='')

                        .promo__content
                            h3 Получите выгоду по&nbsp;Trade-In до&nbsp;300&nbsp;000&nbsp;₽
                            .promo__get Получить предложение

    include ../views/components/question


