doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width" )
        title
        link(rel='icon' href='../img/favicon.ico' type='image/x-icon')
        link(rel='stylesheet', href="/src/styles/main-common.sass")

    body
        div(class=pageClass).page
            if header === 'light'
                include ../components/header-light
            else
                include ../components/header-dark
            main
                block content

        include ../components/footer.pug

        script(async='true' src="https://unpkg.com/imask")
        //script(async='true' src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js")
        script(type='module' src="/src/js/main.js")