div(id='bookCar').form
    h2 Забронировать автомобиль
    p.form__description Забронируйте автомобиль по&nbsp;выгодной цене. Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время и&nbsp;ответим на&nbsp;все интересующие вас вопросы

    include ../components/form