div(id='getOffer').form
    h2 Получить предложение
    p.form__description Заполните форму и&nbsp;отправьте заявку. Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время и&nbsp;ответим на&nbsp;все интересующие вас вопросы

    include ../components/form