div(id='requestTradeIn').form
    h2 Заявка на&nbsp;Trade-In
    p.form__description Заполните форму и&nbsp;получите спецпредложение. Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время и&nbsp;ответим на&nbsp;все иvнтересующие вас вопросы

    include ../components/form-tradein