div(id='requestAuto').form
    h2 Заявка на&nbsp;автокредит
    p.form__description Заполните форму и&nbsp;получите спецпредложение. Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время и&nbsp;ответим на&nbsp;все интересующие вас вопросы

    include ../components/form