footer.footer
    .container
        h2 Контактная информация

        .footer__top
            .footer__contacts
                .footer__col
                    span.title Телефон

                    a(href="tel:") +7 999 999-99-99
                    a(href="tel:") +7 (000) 000–00–00

                .footer__col
                    span.title Адрес

                    span Область, город, улица, дом 1

                .footer__col
                    span.title Почта

                    a(href='mailto:metaloobrabotka@mail.ru')
                        span metaloobrabotka
                        span @mail.ru

                .footer__col
                    span.title График работы

                    span Пн-Пт с 9:00 до 18:00
                    span Сб-Вс с 10:00 до 17:00

            .footer__menu
                a(href="").footer__logo
                    img(src='/src/assets/images/logo.svg' alt='Логотип')

                nav.nav
                    ul.nav__list
                        li.nav__el
                            a(href='').nav__link Автомобили
                        li.nav__el
                            a(href='').nav__link Автокредит
                        li.nav__el
                            a(href='').nav__link Trade-In
                        li.nav__el
                            a(href='').nav__link Выкуп
                        li.nav__el
                            a(href='').nav__link Акции
                        li.nav__el
                            a(href='').nav__link О компании
                        li.nav__el
                            a(href='').nav__link Контакты


        .footer__info
            span Название компании 2020–2024
            span ИНН 85748849
            span ОГРН 6475858484
            a(href='') Политика конфиденциальности