.items
    .swiper
        .swiper-wrapper
            .swiper-slide
                include item
            .swiper-slide
                include item
            .swiper-slide
                include item
            .swiper-slide
                include item
            .swiper-slide.hidden-el
                include item

        .swiper-button-prev
        .swiper-button-next

    .text-center
        button(data-hide='Скрыть' data-show='Показать все').button.button-blue-border.js--toggle-hidden Показать все