.items
    .swiper
        .swiper-wrapper
            .swiper-slide
                .item
                    .item__img
                        img(src='/src/assets/images/img--item.jpg' alt='')
                        span.item__discount -30%
                    .item__content
                        span.item__name Lada Granta длинное название
                        .item__price
                            span.item__price-new От&nbsp;1&nbsp;348&nbsp;500&nbsp;₽
                            span.item__price-old От&nbsp;1&nbsp;699&nbsp;300&nbsp;₽
                        span.item__type Седан длинное название
                        span.item__available В&nbsp;наличии: 2 456 756&nbsp;автомобиля
                        a(href='').button.button-blue Купить в&nbsp;кредит
            .swiper-slide
                .item
                    .item__img
                        img(src='/src/assets/images/img--item.jpg' alt='')
                        span.item__discount -30%
                    .item__content
                        span.item__name Lada Granta
                        .item__price
                            span.item__price-new От&nbsp;1&nbsp;348&nbsp;500&nbsp;₽
                            span.item__price-old От&nbsp;1&nbsp;699&nbsp;300&nbsp;₽
                        span.item__type Седан
                        span.item__available В&nbsp;наличии: 2&nbsp;автомобиля
                        a(href='').button.button-blue Купить в&nbsp;кредит
            .swiper-slide
                .item
                    .item__img
                        img(src='/src/assets/images/img--item.jpg' alt='')
                        span.item__discount -30%
                    .item__content
                        span.item__name Lada Granta
                        .item__price
                            span.item__price-new От&nbsp;1&nbsp;348&nbsp;500&nbsp;₽
                            span.item__price-old От&nbsp;1&nbsp;699&nbsp;300&nbsp;₽
                        span.item__type Седан
                        span.item__available В&nbsp;наличии: 2&nbsp;автомобиля
                        a(href='').button.button-blue Купить в&nbsp;кредит
            .swiper-slide
                .item
                    .item__img
                        img(src='/src/assets/images/img--item.jpg' alt='')
                        span.item__discount -30%
                    .item__content
                        span.item__name Lada Granta
                        .item__price
                            span.item__price-new От&nbsp;1&nbsp;348&nbsp;500&nbsp;₽
                            span.item__price-old От&nbsp;1&nbsp;699&nbsp;300&nbsp;₽
                        span.item__type Седан
                        span.item__available В&nbsp;наличии: 2&nbsp;автомобиля
                        a(href='').button.button-blue Купить в&nbsp;кредит
            .swiper-slide.hidden-el
                .item
                    .item__img
                        img(src='/src/assets/images/img--item.jpg' alt='')
                        span.item__discount -30%
                    .item__content
                        span.item__name Lada Granta
                        .item__price
                            span.item__price-new От&nbsp;1&nbsp;348&nbsp;500&nbsp;₽
                            span.item__price-old От&nbsp;1&nbsp;699&nbsp;300&nbsp;₽
                        span.item__type Седан
                        span.item__available В&nbsp;наличии: 2&nbsp;автомобиля
                        a(href='').button.button-blue Купить в&nbsp;кредит

        .swiper-button-prev
        .swiper-button-next

    .text-center
        button(data-hide='Скрыть' data-show='Показать все').button.button-blue-border.js--toggle-hidden Показать все