section.question
    .container
        .form
            h2 Остались вопросы?
            p.form__description Заполните форму и&nbsp;отправьте заявку. Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время и&nbsp;ответим на&nbsp;все интересующие вас вопросы

            include form