section.brand
    .container
        h2  Поиск по&nbsp;марке автомобиля

        .brands
            ul.brands__logo
                li
                    a(href="")
                        img(src='/src/assets/images/logos/logo--audi.png' alt='audi')
                li
                    a(href="")
                        img(src='/src/assets/images/logos/logo--jaguar.png' alt='jaguar')
                li
                    a(href="")
                        img(src='/src/assets/images/logos/logo--bmw.png' alt='bmw')
                li
                    a(href="")
                        img(src='/src/assets/images/logos/logo--jeep.png' alt='jeep')
                li
                    a(href="")
                        img(src='/src/assets/images/logos/logo--chrysler.png' alt='chrysler')
                li
                    a(href="")
                        img(src='/src/assets/images/logos/logo--kia.png' alt='kia')
                li
                    a(href="")
                        img(src='/src/assets/images/logos/logo--ford.png' alt='ford')
                li
                    a(href="")
                        img(src='/src/assets/images/logos/logo--landrover.png' alt='landrover')
                li
                    a(href="")
                        img(src='/src/assets/images/logos/logo--hyundai.png' alt='hyundai')
                li
                    a(href="")
                        img(src='/src/assets/images/logos/logo--lexus.png' alt='lexus')

            ul.brands__text.list-contains-hidden
                li
                    a(href='') Susuki
                li
                    a(href='') Pegeout
                li
                    a(href='') Ford
                li
                    a(href='') Mazda
                li
                    a(href='') Haval
                li
                    a(href='') Renault
                li
                    a(href='') KIA
                li
                    a(href='') Honda
                li
                    a(href='') Volvo
                li
                    a(href='') Jaecoo
                li
                    a(href='') Geely
                li
                    a(href='') Citroen
                li
                    a(href='') Omoda
                li
                    a(href='') Haval
                li
                    a(href='') Audi
                li
                    a(href='') Volkswagen
                li
                    a(href='') Land Rover
                li
                    a(href='') Chery
                li.hidden-el
                    a(href='') Susuki
                li.hidden-el
                    a(href='') Pegeout
                li.hidden-el
                    a(href='') Ford
                li.hidden-el
                    a(href='') Mazda
                li.hidden-el
                    a(href='') Haval
                li.hidden-el
                    a(href='') Renault

        .text-center
            button(data-hide='Скрыть' data-show='Показать все').button.button-blue-border.js--toggle-hidden Показать все
